<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MessageHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MessageHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MessageHub.Properties.Settings>
      <setting name="MediaLocation" serializeAs="String">
        <value>c:\media</value>
      </setting>
      <setting name="RDBIP" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="PGSQLIP" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="MatrixSwitchIP" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="AudioSwitchIP" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
    </MessageHub.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <MessageHub.Properties.Settings>
      <setting name="DefaultPort" serializeAs="String">
        <value>null</value>
      </setting>
    </MessageHub.Properties.Settings>
  </userSettings>
</configuration>